.section-info {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(243, 241, 245);
}

.image-info img {
    width: 50vw;
}

.text-info div {
    position: relative;
    top: 25vh;
    margin: 20px;
    border: thin solid black;
    font-family: var(--poppins);
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.text-info div:first-child {
    font-size: 1.5rem;
    font-weight: 800;
    display: inherit;
}

/*WEATHER*/

.weather h4,
.weather div {
    position: relative;
    top: 20vh;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--poppins);
    background-color: white;
    border: thin solid black;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.weather h4 {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.weather-button {
    padding: 10px;
    border: 2px solid rgb(61, 134, 243);
    border-radius: 50px;
    font-family: var(--poppins);
    background-color: white;
    transition: all ease-in-out 0.4s;
}

.weather-button:hover {
    background-color: rgb(61, 134, 243);
    color: white;
}

.icon-weather {
    width: 25px;
}

.undefined-weather {
    width: 15vw;
    font-family: var(--poppins);
    font-size: 2rem;
    color: red;
    border: thin solid black;
    padding: 10px;
}