body {
    background-color: rgb(243, 241, 245);
}

.section-flags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.flag img {
    width: 20vw;
    margin-top: 20px;
}

.legend {
    position: relative;
    font-family: var(--poppins);
    bottom: 20vh;
    width: 20vw;
    height: 20vh;
    color: white;  
    transition: all 0.2s ease-in-out;
    display: flex;
    opacity: 0;
    align-items: flex-end;
    justify-content: center;
}

.legend:hover {
    opacity: 1;
}

.legend legend {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.sentinel {
    width: 1px;
    height: 1px;
}